.weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'na na wr'
        'te ic de'
        'te ic fe'
        'sp hu pr'
        'sr . ss';
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    transform-origin: top;
    background: var(--bg);
}
.name {
    grid-area: na;
    font-size: 16px;
    text-align: center;
}
.wrap {
    grid-area: wr;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}
.temp {
    grid-area: te;
    font-size: 24px;
}
.icon {
    font-size: 20px;
    grid-area: ic;
}
.description {
    grid-area: de;
}
.feel {
    grid-area: fe;
}
.speed {
    grid-area: sp;
    word-wrap: break-word;
}
.humidity {
    grid-area: hu;
}
.speed,
.humidity,
.pressure {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pressure {
    grid-area: pr;
}
.sunrise {
    grid-area: sr;
}
.sunset {
    grid-area: ss;
}

.compass {
    position: absolute;
    width: 70px;
    height: 70px;
    fill: var(--primary);
}
.arrow {
    position: absolute;
    width: 35px;
    height: 35px;
    fill: var(--white);
    animation: shake 2s 35 3s alternate;
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(-5deg);
    }
    66% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
.icon_min {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    fill: var(--white);
}

.show {
    scale: 1;
}
.hide {
    scale: 1 0;
}
.weather {
    font-size: 12px;
    font-weight: 200;
}
