.button {
    color: var(--gray);
    font-weight: 600;
    appearance: none;
    background: var(--primary);
    padding: 10px 30px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    transition: color 0.3s ease;
}
.button:hover {
    color: var(--white);
}

.button::before {
    z-index: -1;
    --size: 0;

    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(
        circle closest-side,
        var(--primary-hover),
        transparent
    );
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.2s ease;
}

.button:hover::before {
    --size: 200px;
}
.button:active {
    scale: 0.8;
    color: var(--white);
}
