html,
body {
    margin: 0;
    padding: 0;

    color: var(--white);
    background: var(--bg);
    font-family: var(--font-family);
    font-weight: var(--normal-weight);
    font-style: var(--normal-style);
}

* {
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #1a1b27;
    --bg: #0d5356;
    --gray: rgb(89, 89, 89);
    --primary: #00ff90;
    --primary-hover: #0026ff;
    --font-family: 'Noto Sans', sans-serif;
    --normal-style: normal;
    --normal-weight: 500;
}

/* W3C standardко для Firefox */
* {
    scrollbar-color: var(--gray) var(--black);
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}
*::-webkit-scrollbar-track {
    background: var(--black);
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 5px;
}
