.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 10px;
}
.weather div {
    font-size: 14px;
    font-weight: 200;
}
